# XXX: Will this break other people's develop workflow?
#.*
# ".*" -> ".*/**" fixes "!.vscode/tasks.json" negation not working
# From https://git-scm.com/docs/gitignore:
#   It is not possible to re-include a file if a parent directory of that file is excluded.
.*/**
# List .venv explicitly for clarity
/.venv
# Opinionated include: .vscode/tasks.json can contain project-specific tasks that are useful to be remembered
!/.vscode/tasks.json
*.pyc
*.egg-info/
_build
build
dist
/fluent.*/docs/_templates/versions.html
